<div class="left-sidebar">

    <div class="right-sidebar">

        <div class="sidebar-title">
        <h4>Contatos</h4>
        </div>
    </div>
    <!--Fim barra lateral direita do site-->

    <!--Inicio Usuario barra lateral direita do site--> 

    <!--Fim Usuario online barra lateral direita do site--> 
    <!--Inicio Usuario barra lateral direita do site--> 

    <div class="online-list" (click)="navigateToCurriculoAmanda()">
        <div class="online">
            <img src="assets/imagens/Amanda.png" alt="">
        </div>
        <p>Amada Ramos</p>
    </div>
    <!--Fim Usuario online barra lateral direita do site--> 
    <!--Inicio Usuario barra lateral direita do site--> 

    <div class="online-list" (click)="navigateToCurriculoDiego()">
        <div class="online">
            <img src="assets/imagens/Diego.png" alt="">
        </div>
        <p>Diego Condemarim</p>
    </div>
    <!--Fim Usuario online barra lateral direita do site--> 
    <!--Inicio Usuario barra lateral direita do site--> 

    <div class="online-list" (click)="navigateToCurriculoEduardo()">
        <div class="online">
            <img src="assets/imagens/Eduardo.png" alt="">
        </div>
        <p>Eduardo Vicente</p>
    </div>

    <div class="online-list" (click)="navigateToCurriculoJoao()">
        <div class="online">
            <img src="assets/imagens/Joao.jpg" alt="">
        </div>
        <p>João Pedro Camusso</p>
    </div>
        
</div>