<h1>Curriculo</h1>

<h2>Informações Pessoais</h2>
<p><strong>Nome:</strong> {{ curriculo.nome }}</p>
<p><strong>Contato:</strong> {{ curriculo.contato }}</p>
<p><strong>LinkedIn:</strong> {{ curriculo.linkedin }}</p>
<p><strong>Telefone:</strong> {{ curriculo.telefone }}</p>
<p><strong>Endereço:</strong> {{ curriculo.endereco }}</p>

    <hr/>
    <br>
    <h2>Objetivo</h2>
    <p>
    {{curriculo.objetivo}}
    </p>
    <hr/>
    <br>
    <h2>Formação Acadêmica</h2>
    {{curriculo.formacaoAcademica}}
    <hr>
    <h2>Habilidades e Competências</h2>
    {{curriculo.experienciasProfissionais}}
    <strong>
    {{curriculo.habilidadesECompetencias}}
  </strong>
    <hr>
    
    