<div class="barra">

 <!--Fim barra lateral direita do site-->


    <!--Fim evento barra lateral direita do site-->
    <!--Inicio Titulo barra lateral direita do site--> 
    <div class="right-sidebar" >

        <div class="sidebar-title">
        <h4>Patrocinados</h4>
        </div>
    <!--Fim barra lateral direita do site-->
    <img src = "assets/imagens/advertisement.png" (click)="redirectToLinkedIn()"  alt="" class = "slidebar-ads">
    </div>
    <!--Inicio Titulo barra lateral direita do site--> 
   
 </div>